@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body {
    background-color: rgb(223, 223, 231);
    color: goldenrod;
    font: normal 16px 'Rubik Wet Paint', cursive;
}   

.MP_icon {
    margin-top: 5%;
    margin-left: 5%;
    width: 200px;
    border-radius: 20%;
    box-shadow: -15px -15px 5px rgb(100, 100, 100);
}

.info {
    display: flex;
}

@media (max-width: 600px) {
    .info {
        display: block;
        text-align: center;
    }
}

.info p {
    color: #86898f;
    margin: 0;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 20px;
}

.fps {
    color: green;
}

a {
    color: black;
    font: normal 20px normal;
}

a:visited {
    color: gray;
}

a:hover {
    color: blue;
}

.table {
    width: 100%;
    background-color: rgb(212, 245, 232);
}

.from-group > input,
.from-group > textarea {
    border: none;
    border: 2px solid #949090;
    color: rgb(53, 87, 53);
    background-color: rgb(231, 223, 223);
    margin-bottom: 5px;
    font:normal 16px 'Rubik Wet Paint', cursive;
}

.info-text {
    margin: 30px;
}

.btn {
    border: 3px solid gray;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    block-size: 60px;
}

.btn:hover {
    opacity: 0.9;
}
